In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame(columns = ['a','b','c'], data = (['t','f','t'],['f','f','t'],['t','t','f']))

In [3]:
df

   a  b  c
0  t  f  t
1  f  f  t
2  t  t  f

In [4]:
df_dummy = pd.get_dummies(df)

In [5]:
df_dummy

   a_f  a_t  b_f  b_t  c_f  c_t
0    0    1    1    0    0    1
1    1    0    1    0    0    1
2    0    1    0    1    1    0

In [6]:
df_dummy_2 = pd.get_dummies(df, columns = ['a'])

In [7]:
df_dummy_2

   b  c  a_f  a_t
0  f  t    0    1
1  f  t    1    0
2  t  f    0    1