In [9]:
import pandas as pd
import numpy as np

In [3]:
df_test1 = pd.DataFrame(columns = ['a','b'], data = ([1,2],[7,8]))

In [4]:
df_test1

   a  b
0  1  2
1  7  8

In [10]:
df_lambda = df_test1.apply(lambda x : np.log(x))

In [11]:
df_lambda

         a         b
0  0.00000  0.693147
1  1.94591  2.079442